<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>
  <div *ngIf="ok" id="duel-box">
    
    <div *ngIf="winner === 0" id="drawbox">
      <span class="text">Draw!</span>
    </div>

    <div class="resultbox">
      <div *ngIf="winner === 1" class="winnerbox">
        <img src="/assets/flag.png" width="34" height="38" id="flag1">
        <span class="text">{{user1.username}} wins!</span>
        <img src="/assets/flag.png" width="34" height="38" id="flag2">
      </div>
      <app-profile-card [user]="user1" [scores]="scores1" [winner]='winner' class="user"></app-profile-card>
    </div>

    <div class="resultbox">
      <div *ngIf="winner === 2" class="winnerbox">
        <img src="/assets/flag.png" width="34" height="38" id="flag1">
        <span class="text">{{user2.username}} wins!</span>
        <img src="/assets/flag.png" width="34" height="38" id="flag2">
      </div>
      <app-profile-card [user]="user2" [scores]="scores2" [winner]='winner' class="user"></app-profile-card>
    </div>

  </div>

  <span *ngIf="!ok" id="error">{{error}}</span>

</div>
