.submit-button{
  box-sizing: border-box;
width: 265px;
height: 81px;
cursor: pointer;
background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

#duel-box {
  position: relative;
  margin-top: 60px;
}

.resultbox {
  display: inline-block;
  position: relative;
}

.winnerbox {
  text-align: center;
  margin-bottom: -30px;
}

#drawbox {
  text-align: center;
  margin-bottom: -30px;
}

.text {
  font-size: xx-large;
  margin: 16px;
}

.user {
  display: inline-block;
  margin: 10px 10px;
}
